*{
    margin:0;
    padding:0;
    transition: all 0.3s;
}
.container{
    display: flex;
    justify-content: center;
    padding:4%;
}
.subContainer{
    margin:20px;
    background: #f0f0f0;
    border-radius: 10px;

}
.subContainer > table{
    margin: 20px;
    width: 30vw;
    border-collapse: collapse;
    text-align: center;
    font-weight: 600;
}
.subContainer > table th{
    padding-bottom:10px;
    border-bottom: 2px solid;
    width:30%;
}
.subContainer > table tr{
    border-bottom: 1px solid #c3c3c3;
}
.subContainer > table > tbody tr:hover{
    background: rgba(153, 153, 153, 0.746);
}
.subContainer > table td{
    padding: 10px;
}
.subContainer > table th:first-child{
    width:10%;
}
.title{
    text-align: center;
}
#userNum{
    display: none;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}
#generateBtn{
    color:blue;
}
#generateBtn:hover{
    cursor: pointer;
    color: red;
}
#modalContainer{
    transition: all 0.5s;
    position:fixed;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}
#modal{
    background:white;
    width: 25%;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
}
#modal div:first-child{
    background-color: #4caf50;
    padding: 5px;
}
#modal h4:nth-child(2){
    padding:20px;
}
#infoZone{
    margin-top: 20px;
}
input:focus{
    outline:none;
}
.btnContainer{
    display: flex;
    justify-content: center;
    padding:10px;
}
.modeBtn{
    display: flex;
    justify-content: center;
    background: #f0f0f0;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border:1px solid #c3c3c3;
}
.modeBtn div{
    padding: 3px 5px;
}
.modeBtn div:hover{
    background: #c3c3c3;
    cursor: pointer;
}
.modeBtn> div:first-child{
    border-right: 1px solid #c3c3c3;
    background: #c3c3c3;
}
.vs{
    align-items: center;
}
.match{
    display: none;

}

@media screen and (max-width: 500px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .vs{
        font-size: 0px;
    }
    .subContainer > table th{
        padding-bottom:10px;
        border-bottom: 2px solid;
        font-size: 10px;
    }
    .subContainer > h2{
        font-size:15px;
    }
    .subContainer > table{
        font-size:10px;
    }
}