* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1bbeb;
}

.quiz-box {
  padding: 5px;
  background-color: white;
  box-shadow: 5px 5px 3px #666;
}
.vibration {
  animation: vibration 0.1s infinite;
  box-shadow: 5px 5px 3px #ff5959;
  transition: all 0.3s;
}
@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

.quiz-box h1 {
  background: #cccccc;
  padding: 10px;
  margin: 0;
}

.quiz-box div {
  text-align: center;
}
.quiz-box input[type="text"] {
  border: none;
  padding: 10px;
  background-color: #909292;
}
.quiz-box input[type="text"]::placeholder {
  color: rgb(78, 77, 77);
  font-weight: bold;
}
.quiz-box button {
  margin-top: 10px;
  border: none;
  padding: 5px 0;
  color: white;
  font-weight: 500;
  width: 48%;
  cursor: pointer;
}
.submit {
  background: rgb(56, 204, 56);
}
.answer {
  background: rgb(78, 113, 209);
}
.pass {
  background: red;
}
